@import "kelp-overrides.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-block-size: 100vb;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.match {
  /* eslint-disable-next-line css/no-invalid-properties */
  color: var(--color-orange-40);
}

#toc {
  position: sticky;
  margin-top: var(--size-5xl);
  top: 1rem;
  max-height: calc(100vb - 2rem);
  overflow: auto;
}

.toc-watch {
  timeline-scope: var(--scopes);
  section {
    view-timeline: var(--is);
  }
}
.toc-link:not(:hover, :focus-visible) {
  animation: current-item linear;
  animation-timeline: var(--for);
  animation-range: entry min(33cqb, 33%) exit calc(100% - min(33cqb, 33%));
}
@keyframes current-item {
  0%,
  99.9% {
    font-weight: bold;
  }
}

.zeeper {
  background: var(--color-background);
  #hzAxis text {
    fill: var(--color-gray-60);
  }
  #hzAxis line {
    stroke: var(--color-gray-30);
  }
  #measuredBox {
    fill: var(--color-primary-fill-vivid);
    stroke: var(--color-primary-fill-vivid);
  }

  .zeeperBird {
    opacity: 0.5;
    rect {
      stroke: var(--color-secondary-fill-accent);
    }
    path {
      stroke: var(--color-secondary-fill-muted);
      fill: var(--color-secondary-fill-muted);
    }
    text {
      stroke: var(--color-secondary-fill-accent);
      fill: var(--color-secondary-fill-accent);
    }
    &[focused="focused"] {
      opacity: 1;

      path {
        stroke: var(--color-secondary-fill-accent);
        fill: var(--color-secondary-fill-accent);
      }
      text {
        stroke: var(--color-secondary-fill-vivid);
        fill: var(--color-secondary-fill-vivid);
      }
    }
    &[focused="other"] {
      opacity: 0;
    }
  }
}
